.col {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.container1 {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container1 .card {
    position: relative;
    cursor: pointer;
}

.container1 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container1 .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.container1 .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container1 .card:hover .face.face1 .content {
    opacity: 1;
}

.container1 .card .face.face1 .content img {
    max-width: 100px;
}

.container1 .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container1 .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container1 .card:hover .face.face2 {
    transform: translateY(0);
}

.container1 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container1 .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container1 .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

.containerf {
    margin: 0;
    padding: 0;
    min-height: 50vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f1f1f1;
}

.container6 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container6 .card6 {
    position: relative;
    border-radius: 10px;
    margin: 3px 3px;
    width: 23%;
}

.container6 .card6 .icon6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container6 .card6:nth-child(1) .icon6 {
    background: #e07768;
}

.container6 .card6:nth-child(2) .icon6 {
    background: #6eadd4;
}

.container6 .card6:nth-child(3) .icon6 {
    background: #4aada9;
}

.container6 .card6 .icon6 .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container6 .card6 .face6 {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container6 .card6 .face6.face16 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container6 .card6:hover .face6.face16 {
    background: #ff0057;
    transform: translateY(0px);
}

.container6 .card6 .face6.face16 .content6 {
    opacity: 1;
    transition: 0.5s;
}

.container6 .card6:hover .face6.face16 .content6 {
    opacity: 1;
}

.container6 .card6 .face6.face16 .content6 i {
    max-width: 100px;
}

.container6 .card6 .face6.face26 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container6 .card6:hover .face6.face26 {
    transform: translateY(0);
}

.container6 .card6 .face6.face26 .content6 p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container6 .card6 .face6.face26 .content6 h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container6 a {
    text-decoration: none;
    color: #414141;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.body8 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background: #414141;
}

.section {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main main" "event event";
    background-image: url(https://s3.ca-central-1.amazonaws.com/image-web-frankie/Music+show.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    .section {
        grid-template-areas: "main event" "main event";
    }
}

.leftBox8 {
    grid-area: main;
    padding: 50px;
    box-sizing: border-box;
}

.section .leftBox8 .content8 {
    color: rgb(243, 229, 229);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
}

.section .events8 .content8 {
    color: rgb(243, 229, 229);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
}

.section .leftBox8 .content8:hover {
    background-color: #e91e63;
}

.section .events8 .content8:hover {
    background-color: #e91e63;
}

.section .leftBox8 .content8 h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.section .events8 .content8 h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.section .leftBox8 .content8 p {
    margin: 10px 0 0;
    padding: 0;
}

.section .events8 {
    grid-area: event;
    background: #414141;
    box-sizing: border-box;
}

.section .events8 ul {
    margin: 0;
    padding: 40px;
    list-style: none;
    height: 600px;
    overflow: auto;
    border: 2px solid white;
    margin-top: 20px;
}

.section .events8 ul li {
    background-color: #fff;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "time time" "detail detail";
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .section .events ul li {
        grid-template-areas: "time detail" "time detail";
    }
}

.section .events8 ul li .time {
    grid-area: time;
    position: relative;
    padding: 8% 40%;
    background-color: #262626;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.5s;
}

.section .events8 ul li:hover .time8 {
    background-color: #e91e63;
}

.section .events8 ul li .time8 h2 {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 60px;
    line-height: 30px;
}

.section .events8 ul li .time8 h2 span {
    font-size: 30px;
}

.section .events8 ul li .details8 {
    grid-area: detail;
    padding: 20px 20px 32px;
    background-color: rgb(233, 227, 227);
    box-sizing: border-box;
}

.section .events8 ul li .details8 h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.section .events8 ul li .details8 p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

.section .events8 ul li .details8 a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 16px;
    font-size: 18px;
    transition: 0.5s;
}

.section .events8 ul li .details8 a:hover {
    background-color: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

.body9 {
    background: #F2CF8D;
    margin: 50px;
}

.shownews9 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: open sans;
}

.shownews9 .title9 {
    background: #F23E16;
    display: inline-block;
    padding: 8px 16px;
    clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
    animation: mask 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.shownews9 .news9 {
    background: #037F8C;
    display: inline-block;
    padding: 8px 16px;
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    animation: mask 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.shownews9 .news9 a {
    color: #fff;
    text-decoration: none;
}

@keyframes mask {
    0% {
        clip-path: polygon(0px 0px, 0% 0, 0% 100%, 0px 100%);
    }
    100% {
        clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
    }
}

.body10 {
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    height: 70vh;
}

.video-container {
    width: 30%;
    padding: 10px;
    background: white;
    display: inline-block;
    margin-right: 20px;
}

.responsive-video {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-video iframe,
.responsive-video video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text {
    font-size: 30px;
}